@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #9FB71A;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #555555;
    background: #FFFFFF; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px; 
}

#editable_invoice {
    position: fixed;

    top: 15px;
    left: 0;
    background-color: rgba(239, 255, 148, 0.95);
    padding: 10px;
    color: black;
    border: 3px solid #C4E606;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #A7C308 0px 0px 11px -4px;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

#logo {
    float: left;
    margin-top: 8px;
}

#logo img {
    height: 70px;
}

#company {
    float: right;
    text-align: right;
}


#details {
    margin-bottom: 50px;
}

#client {
    padding-left: 6px;
    border-left: 6px solid;
    float: left;
}

#client .to {
    color: #777777;
}

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: right;
}

#invoice h1 {
    color: rgb(37, 37, 37);
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#invoice h1 i {
    font-size: 70%;
    padding: 5px 10px;
    border: 1px solid #E2E2E2;
    margin-left: 10px;
}

@media print {
    #invoice h1 i {
        font-size: inherit;
        padding: 0;
        border: 0;
        margin-left: 0;
    }
}

#invoice .date {
    font-size: 1.1em;
    color: #777777;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 20px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

table th {
    white-space: nowrap;        
    font-weight: normal;
}

table td {
    /* text-align: right; */
}

table td h3{
    color: rgb(31, 31, 31);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

table .no {
    color: #FFFFFF;
    font-size: 1.6em;
    background: rgb(196, 230, 6);
}

table .desc {
    text-align: left;
}

table .unit {
    background: #DDDDDD;
}

table .qty {
}

table .total {
    background: rgb(196, 230, 6);
    color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table tbody tr:last-child td {
    border: none;
}

table tfoot td {
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap; 
    border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
    border-top: none; 
}

table tfoot tr:last-child td {
    color: rgb(196, 230, 6);
    font-size: 1.4em;
    border-top: 1px solid rgb(196, 230, 6); 

    font-weight: bold;
}

table tfoot tr td:first-child {
    border: none;
}

#thanks{
    font-size: 2em;
    margin-bottom: 50px;
}

#notices{
    padding-left: 6px;
    border-left: 6px solid #0087C3;  
}

#notices .notice {
    font-size: 1.2em;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}

#print_button {
    height 50px;
    width: 50%;
    line-height: 50px;
    position: fixed;
    left: 25%;
    bottom: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

#print_button:hover {
    background-color: #3A3A3A;

}

@media print {
    #print_button {display: none;}
}

#commenti {
    border: 1px solid #EEEEEE;
    border-top: 0;
    height: 100%;
    font-size: 13px;
    text-align: left;
}

textarea {
    width: 100%;
    height: 38px;
    border: 0;
    resize: none;
    padding: 0;
    min-height: 38px;
}

/* RESOCONTO */
#dati {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}
#dati .col {
    width:100%;
    float: left;
    border-bottom: 1px solid #EFEFEF;
    padding: 0;
    margin-right: -2px;
    margin-top: -1px;
}

#dati .col b {
    color: #272727;
    width: 35%;
    display: inline-block;
    padding: 12px;
    text-align: center;
    background-color: #EFEFEF;
    margin-right: 20px;
    text-align: right;
    border-left: 5px solid;
    border-right: 1px solid #EFEFEF!important;
}

#dati .col.pad {
    padding: 10px 0;
    margin: 0 0px;
}

#dati .col.txt {
    border: 1px solid #EFEFEF;
    border-left: 5px solid #C4E606;
    width: calc(100% - 5px);
}

.halfinvoice {
    height: 50%;
}

.halfinvoice.seconda {
    border-top: 1px dotted #AAAAAA;
    padding-top: 10px;
    display: none;
}

.halfinvoice.full {
    height: 100%;
}

.col textarea {
    padding: 5px;
    width: calc(100% - 10px);
}

@media print {
    #editable_invoice {display: none;}	
    .halfinvoice.seconda {display: block;}
}