.4ds{
 all: revert !important;
}
@font-face {
    font-family: PT Sans;
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: PT Sans;
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
    font-weight: normal;
}

html {
}

#black {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 200000;
    top: 0;
    right: 0;
    background: url('../img/logo_mc.png');
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: rgb(244, 244, 244);
    font-family: 'PT Sans';
}

body.login-body {
    background: url('../img/sfondo_login.jpeg');
    background-size: 100% auto;
    background-position: top;
    max-width: 900px;
    margin: auto;
    margin-top: 25px;
}

body.login-body.admin {

    max-width: 100%;

    width: 500px;

    position: absolute;

    top: 0;

    bottom: 60px;

    left: 0;

    right: 0;

    display: inline-table;

    height: auto;

    margin: auto;
}

@media screen and (max-width: 769px) {
    body.login-body {
        margin: 0;
    }
}

label {
    font-family: 'PT Sans';
}

.form-group label {
    width: 100%;
}

.form-group .checkbox {
    min-height: 30px;
}

.commenti label {
    background: #FCFCFC;
    margin: 0;
    padding: 2px 10px;
    border: 1px solid #E2E2E4;
    border-bottom: 0;
}

.commenti {
    margin-bottom: 0;
}

#commentic {
    border-radius: 0;
    background: white;
    cursor: default;
}

.firstl {
    background: rgb(203, 233, 36);
    width: 100%;
    color: black;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
}

.firstl i {
    font-size: 16px;
    font-weight: bold;
}

* {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#main-content h2 {
    display: inline-block;
    line-height: 34px;
    font-size: 29px;
    font-weight: bold;
}

.add_c.btn {
    width: calc(100% + 15px);
    margin-left: -15px;
}

@media screen and (min-width: 769px) {
    .add_c.btn {
        /* width: 40px; */
        /* margin-left: 0; */
        /* float: right; */
    }
}

.add_c.btn i{
    color: white;
    width: 100%;
    text-align: center;
    line-height: 17.9px;
}

.add_c.btn:hover {
    opacity: 0.8;
}

@media screen and (min-width: 769px) {
    #main-content h2
    {
        display: inline-block;
        line-height: 49px;
        font-size: 29px;
        font-weight: bold;
        padding: 7px 60px 9px;
        color: white;
        border-bottom-right-radius: 10px;
        margin: 0px 0px 15px -17px;
    }
}

h3 {
    display: inline-block;
    width: 100%;
    line-height: 15px;
    padding: 0px 15px 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT Sans';
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.tab-pane h3 {
    margin-top: 0;
    display: block;
    line-height: 26px;
    padding-top: 7px;
    color: white;
    margin-bottom: 22px;
}

#main-content {
    margin-top: 65px;
    margin-left: 212px;
    padding-bottom: 80px;
}

header.header {
    background: #FFFFFF;
    height: 65px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1002;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 1px 5px -2px;
}

header div.welcome {
    background: #fff;
    position: relative;
    right: 0;
    top: 0;
    float: right;
    min-width: 125px;
    padding: 17px 10px;
    margin-left: 15px;
    max-width: 100%;
}

header div.welcome span {
    display: flex;
    font-size: 13px;
    text-align: right;
    line-height: 15px;
}

header div.welcome a {
    font-size: 10px;
    display: block;
    text-align: right;
    line-height: 15px;
    color: white!important;
    text-decoration: none;
}

header div.welcome a.log-out {
    float: right;
}

header div.welcome img {
    float: left;
    padding-right: 5px;
}

header.header a.logo {

    font-size: 16px;

    font-family: PT Sans;

    text-transform: uppercase;

    font-weight: 600;

    margin-left: 90px;

    display: block;

    float: left;

    padding-top: 6px;

    text-decoration: none;

    margin-bottom: 15px;
}

header.header a.logo p {
    line-height: 10px;
    font-size: 21px;
    margin-right: 15px;
}

header.header a.logo span {
    /* color: white!important; */
    position: relative;
    font-size: 10px;
    top: 4px;
}

header.header .sidebar-toggle-box {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: -30px;
    top: -25px;
    z-index: 1;
}

header.header .sidebar-toggle-box .fa {
    position: relative;
    top: 26px;
    left: 10px;
    padding: 18px 9px;
    font-size: 25px;
    display: block;
    width: 100%;
    height: 69px;
    cursor: pointer;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    z-index: 1003;
    padding: 0px 0;
    top: 65px;
    left: 0;
}

#sidebar .sidebar-menu {
    background: rgba(0, 0, 0, 0.51);
    height: 98%;
    overflow: visible;
    position: static;
    margin: 0;
    padding: 0;
}

#sidebar li {
    line-height: 40px;

    list-style-type: none;
    font-size: 13px;
    margin: 5px 0;
}

#sidebar li.nav_title {
    margin: 0;
    min-height: 64px;
}

#sidebar li.nav_title img {
    margin: auto;
    display: block;
    padding: 6px;
    max-width: 195px;
    height: auto;
}
#sidebar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0px 15px;
    background: rgba(21, 21, 21, 0.11);
    -webkit-transition: all 0.1s ease-in-out;
}

#sidebar li a:hover {
    color: white;
    -webkit-transition: all 0.1s ease-in-out;
}

#sidebar li a i {
    margin-right: 5px;
    color: rgb(253, 254, 247);
    background-color: rgba(0, 0, 0, 0.21);
    padding: 6px 10px;
    text-align: center;
}

#sidebar li a:hover i ,#sidebar li a.active i
{
    background-color: rgba(0, 0, 0, 0.49);
}

.state-overview section.panel {
    background: white;
    border-radius: 0;
    overflow-x: auto;
}


.state-overview section.panel::-webkit-scrollbar {
    height: 5px;
}

.state-overview section.panel.dragged {
    cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
}

.state-overview .panel-body ul li {
    display: inline-block;
    width: 20%;
    min-width: 130px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
    .state-overview section.panel {
        cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
    }
}

@media screen and (max-width: 768px) {
    #main-content {
        padding-top: 65px!important;
    }

    ul.sidebar-menu {
        padding-top: 15px;
    }

    li.nav_title {
        display: none;
    }
}

.state-overview .panel-body ul li:hover {
    border-radius: 5px;
}

.state-overview .panel-body ul li:hover a i, .state-overview .panel-body ul li:hover a{
    color: white!important;
}

.state-overview .panel-body ul li a {
    text-decoration: none;
    line-height: 40px;
    color: rgb(40, 40, 40);
}

.state-overview .panel-body ul li a i {
    display: block;
    font-size: 90px;
    padding-bottom: 5px;
    height: 95px;
}

.state-overview .panel-body ul li:hover a i {
    font-size: 80px;
}

.state-overview .summary-list {
    margin: 0;
    display: flex;
}

.state-overview section h3 {
    margin: 0;
    background-color: white;
    padding: 9px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #C4E606;
    border-color: #C4E606;
}

#guasto_ht, #modello_ht {
    width: 170px!important;
}

.interno {
    display: inline-block;
    margin-top: 15px;
    width: 100%;
}

.panel-heading {
    color: white;
    font-weight: 600;
    font-family: PT Sans;
}

.totale_resoconto {
    float: right;
}


.dataTables_filter input {
    display: inline-block;    
    width: auto;    
    height: 30px;    
    margin-left: 10px;
    padding: 0px 10px;    font-size: 14px;    
    line-height: 0;    color: #555;    background-color: #fff;    background-image: none;    border: 1px solid #ccc;    border-radius: 4px;
}

.dataTables_length select {
    display: none;
    height: 30px;
    border-radius: 0;
    border: 1px solid rgb(204, 204, 204);
    line-height: 14px;
}

th small {
    display: none;
}

/* =============== MODAL VISUALIZZA =============== */

.bio-row p {
    border: 1px solid rgb(238, 238, 238);
    margin-right: -1px;
}

.bio-row p span {
    padding: 10px 15px;
    display: inline-block;
}

.bio-row p span.bold {
    padding: 10px 15px;

    background-color: rgb(245, 245, 245);
    width: 185px;
    color: rgb(71, 71, 71);
}

.bio-row p span.bold small {
    display: none;
}

.bio-row p span.bold i {
    color: black;
    margin: -10px 10px -10px -15px;
    background-color: rgb(252, 252, 252);
    line-height: 41px;
    width: 40px;
    text-align: center;
}

.modal-body {
    padding: 0;
}

.modal-body .flatb {
    width: 100%;
    display: block;
    color: white;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.modal-body .flatb i {
    font-size: 40px;
    position: relative;
    top: 8px;
    right: 10px;
    line-height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.13);
}

.modal-body .flatb:hover i {
    background-color: rgba(255, 255, 255, 0.13);
}

.select2-container.select2-container--default .select2-results__option[aria-selected=true] {
    color: white;
}

.modal.in {
    padding: 30px 30px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.modal.in .modal-dialog {
    width: 100%;
    margin: 0;
}


/* =============== MODAL FOOTER =============== */

.modal-footer {
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 16px;
}


.modal-footer .left {
    float: left;
    width: auto;
    min-width: 305px;
    padding: 0;
    padding-bottom: 5px;
}

.modal-footer .left #status_edit {
    width: 50%;
    float: left;
}

.modal-footer .left button {
    float: left;
    width: auto;
}


.modal-footer .right {
    float: right;
    padding: 0;
    width: auto;
    padding-bottom: 8px;
}

.modal-footer .right button {
    width: auto;
}

.modal-footer .btn-group-justified.left input {
    width: calc(50% - 10px);
    float: left;
    margin-left: 10px;
}

.modal-body .form-group i{
    float: left;	
}

#lista_del_cliente .modal-header {
    border-radius: 0;
}

#lista_del_cliente .modal-content {
    border-radius: 0;
}

#lista_del_cliente .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.codice_head {
    float: right;
    padding-right: 15px;
    font-size: 14px;
    line-height: 24px;
}

.form-group select {
    width: auto!important;
}


.iconic-input i {
    color: #CCCCCC;
    display: block;
    font-size: 16px;
    height: 16px;
    margin: 8px 5px 8px 10px;
    position: absolute;
    text-align: center;
    width: 16px;
    top: 27px;
    right: 20px;
}

.iconic-input.nolabel i {
    top: 1px;

    right: 8px;
}


#data_salto {
    width: 80%;
    float: left;
}

.date_pc .add-on {
    float: left;
}

.date_pc .add-on button {
    height: 34px;
}

.date_pc .finanze_subdate {
    float: right;
}



/* =============== GUADAGNO TOTALE =============== */

.state-overview.col-lg-4 .panel {
    min-height: 80px;
}

.state-overview.col-lg-4 .panel .symbol i {
    float: left;
    backgrounD: rgb(196, 230, 6);
    line-height: 106px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 50%;
    text-align: center;
    font-size: 62px;
    color: white;

}

.state-overview.col-lg-4 .panel .value h1 {
    font-size: 64px;
    margin-bottom: 0;
    margin: 0;
    text-align: center;
    padding: 2px 0;
}

.state-overview.col-lg-4 .panel .value p {
    text-align: right;
    padding-right: 20px;
}

#dynamic-table {
    width: 100%!important;
}

td {
    padding: 8px 7px!important;
}

.label-waiting {
    background: #06ACE6;
}

.dataTables_paginate ul {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
}

.dataTables_paginate li {
    width: auto;
    padding: 0 0px;
    line-height: 0;
    list-style-type: none;
    display: inline-block;
}

.dataTables_paginate li.prev a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dataTables_paginate li.next a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.dataTables_paginate li:hover {
    border-radius: 0;
}

.dataTables_paginate li a {
    line-height: 30px;
    padding: 0px 8px;
    color: rgb(51, 51, 51);
    display: block;
    text-decoration: none;
}

.dataTables_paginate li.active:hover a {
    background: transparent;
}

.dataTables_paginate li:hover a {
    color: white!important;
}

.visualizza_or button, .visualizza button  {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0 !important;
    width: 43.3%;
    display: inline-block;
    
}

#modifica button, #modifica_c button{
   
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0 !important;
    width: 43.3%;
    
    display: inline-block;
    
    
}

#elimina button, #elimina_c button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 33.3%;
    display: inline-block;
    float: left;
}

.form-control {
    color: rgb(63, 63, 63)!important;
    border-radius: 0;
}

.form-control:focus {
    color: rgb(34, 34, 34);
    border-color: rgb(196, 230, 6)!important;
}

#dynamic-table_length label {
    width: 200px!important;
    display: inline-block;
    line-height: 31px;
}

#dynamic-table_length label .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 16px;
}
#dynamic-table_length .select2-container {
    width: 55px!important;
    float: left;
    margin-right: 10px!important;
}

#dynamic-table_length .select2-container--default .select2-selection--single {
    height: 33px!important;
    border: 1px solid rgb(226, 226, 228)!important;
}

#dynamic-table_length  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px!important;
}

.skebby-info input, .twilio-info input {
    border-bottom: 1px solid rgb(249, 249, 249);
    border-top: 0;
    border-radius: 0;
}

.skebby-info input:nth-of-type(1) {
    border-top: 1px solid rgb(226, 226, 228);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.skebby-info input:nth-of-type(4), .twilio-info input:nth-of-type(3) {
    border-bottom: 1px solid rgb(226, 226, 228);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.twilio-info .select2-container--default .select2-selection--single {
    border-bottom: 0!important;
}

.twilio-info .select2-container--default .select2-selection--single span {
    color: #999999;
    padding-left: 13px;
}

.tab-pane {
    padding: 0 0 30px 0;
}

/* =============== STATUS PAGE =============== */
.centre_box.status_box {
    padding-top: 27px;
}

.centre_box.status_box {
    display: none;
}

.centre_box p {
    padding: 0;
    border: 1px solid rgb(206, 217, 226);
    font-size: 15px;
}

.centre_box h3 {
    padding-left: 0;
    line-height: 21px;
}

.centre_box input {
    width: calc(50% - 4px);
    display: inline-block;
    margin: 0;
}

.centre_box button {
    width: 50%;
    display: inline-block;
    margin: 0;

}

/* =============== CHECK STATUS =============== */
.centre_box span {
    padding: 5px;
    margin-left: 10px;
}

.centre_box span.bold {
    font-size: 14px;
    margin-left: 0;
}

.centre_box span span {
    color: white;
    font-size: 80%;
    padding: 1px 5px;
    margin: 0;
}

.centre_box span.completato {
    background: rgb(120, 205, 81);
}

.centre_box span.incorso {
    background: rgb(205, 138, 81);
}

.centre_box span.daconsegnare {
    background: rgb(81, 181, 205);
}
/* =============== footer =============== */
.site-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
    padding: 5px;
    color: white;
    opacity: 0.8;
    z-index: 1000;
}

.site-footer:hover {
    opacity: 1;
}

.site-footer a.rate {
    color: white;
    padding: 0px 7px 0 4px;
}

.site-footer a.rate:hover {
    color: yellow;
}

/* =============== TOAST =============== */

.toast {
    font-family: 'PT Sans'
        ;
}

a.go-top {
    color: white;
    text-decoration: none;
    background: rgb(132, 153, 14);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    width: 20px;
    float: right;
}

hr.imp_divider {
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 100%;
    margin: 10px 0;
    display: inline-block;
}

/* =============== LOGIN =============== */
#login_head {
    width: 100%;
    display: block;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.51);
    border-bottom: 10px solid rgba(255, 255, 255, 0.23);
    min-height: 170px;
    position: relative;
}

#login_head #login {
    /* float: right; */
    color: white;
}

#login_head p.error
{
    display: inline-block;
    line-height: 25px;
    padding: 38px 20px;
    margin: 0;
    color: white;
    background: rgba(255, 0, 0, 0.49);
}

#login_head img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#login_head h3 {
    padding: 0 0 7px;
}

#login_head button {
    border-radius: 0!important;
}

#login_head #login-form .install-wrap {
    width: 100%;
}

#status {
    background: white;
    width: 100%;
    min-height: calc(100vh - 183px);
    box-shadow: #C7C7C7 0 10px 310px -11px;
    padding: 20px 20px 60px;
}

#status h2 {
    color: black;
    border-bottom: 1px solid #CBE924;
}

#status h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 0 10px;
}

#status button {
    border-radius: 0;
    color: white;
}

#status button:hover {
    opacity: 0.8;
}
#login  {
    background: white;
    padding: 20px;
}

#login h3 {
    margin: 0;
    padding: 0 0 10px;
}

#login #loginButton {
    border-radius: 0;
    padding: 10px:
}

.select2-container--default .select2-selection--single {
    border-color: #E2E2E4!important;
    line-height: 32px!important;
    height: 34px!important;
    border-radius: 0!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px!important;
}

.select2-dropdown 
{
    border-color: #E2E2E4!important;
    border-radius: 0!important;
}

/* =============== PACE LOADER =============== */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* TAB */

ul.nav-tabs {
    padding: 0;
    margin-right: 2px;
}

ul.nav-tabs li a {
    background: #FFFFFF;
    color: #676767;
    border-radius: 0;
    border: 1px solid #DDDDDD;
    border-bottom: 0;
    margin-right: -2px;
}

ul.nav-tabs li:nth-last-child(1) a {
    border-top-right-radius: 5px;
}

@media screen and (min-width: 350px) and (max-width: 520px) {
    ul.nav-tabs li {width: 50%!important; }
    ul.nav-tabs li:nth-child(5) {width: 100%!important;}
    ul.nav-tabs li a {border-radius: 0!important; }
}

@media screen and (max-width: 350px) {
    ul.nav-tabs li a {padding: 3px 15px;}
    ul.nav-tabs li {width: 100%!important;}
}

td.child ul {
    width: 100%;
}

td.child ul li:nth-last-child(1) {
    float: right;
    width: 100%;
    padding-bottom: 0!important;

}

td.child ul li:nth-last-child(1) a button{
    line-height: 30px!important;
    margin: 0;
}

td.child ul li:nth-last-child(1) .dtr-title {
    display: none!important;
}

td.child ul li span {
    width: 50%!important;
}

@media screen and (max-width: 560px) { 
    td.child ul li span {width: auto;}
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before, table.dataTable.dtr-inline.collapsed tbody th:first-child:before 
{
    top: -1px!important;
    border-radius: 0!important;
    border: 0!important;
    left: -30px!Important;
    background: url('../img/more.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 29px;
    border-top: 1px solid #DDDDDD!important;
    border-bottom: 1px solid #DDDDDD!important;
    height: 100%;
    box-shadow: white 0px 0px 0px;
    content: '';
    z-index: 1000;
}

ul.nav-tabs li.active a {
    color: white!important;
    border-bottom: 0!important;
}

ul.nav-tabs li:hover a {
    background: #ffffff;
    color: white!important;
}

div.tab-content>.active {
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-top: 0;
}

.form-group.personalizzata, .printinonepage {
    display: none;
}

.form-group.personalizzata.mostra, .printinonepage.mostra {
    display: block;
}

#submit_save {
    background: white;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid #DDDDDD;
    border-top: 0;
    margin-bottom: 51px;
}

#sendsmsfast {
    float: right;
    position: relative;
    top: -24px;
    height: 24px;
    color: white;
    border: 1px solid #E2E2E4;
    width: 110px;
}

#sendsmsfast:hover {
    opacity: 0.8;
}

#sendsmsfast i {
    line-height: 20px;
}

#select2-categoria_s-results li:nth-last-child(1) {
    font-weight: bold;
    background: #F7F7F7;
    color: black;
}

#select2-categoria_s-results li:nth-last-child(1):hover {
    color: #000000;
}

.select2-container--default .select2-selection--multiple {
    border-color: #DDDDDD!important;
}

.select2-container--default .select2-selection--multiple:hover {
    border-color: rgb(196, 230, 6)!important;
}
.radio-sms {
    margin-bottom: 10px;
}

.radio-sms label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.radio-sms label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    opacity: 0.3;
    max-width: 100%;
}

.radio-sms  label {
    width: 100%;
}

.radio-sms  label > input:checked + img{/* (RADIO CHECKED) IMAGE STYLES */
    opacity: 1;
    margin: auto;
    display: block;
}
.skebby-info, .twilio-info {
    opacity: 0.2;
}

.smtp_info {
    opacity: 1;
    margin-bottom: 15px;
    display: none;
}

.smtp_info.mostra {
    display: block;
}
span.label {
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 769px) {
    .modal.in .modal-dialog {
        margin: 0 0px;
        max-width: 100%;

        border-radius: 0!Important;
    }
    .modal {
        padding: 0!important;
    }
    .modal-header {
        border-radius: 0;
    }
    .modal-footer {
        border-radius: 0px!important;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-footer .left, .modal-footer .right {
        width: 100%!important;
    }
    .modal-footer button {
        width: 100%!important;
        margin: 0!important;
        border-radius: 0!important;
        margin-top: 3px!important;
        line-height: 31px;
    }

    button#stampa {}
}

/* LOGOUT MOBILE */
@media screen and (max-width: 590px) {
    div.welcome {display: none;}
}

@media screen and (min-width: 590px) {
    li.logout {display: none;}
}


.logo_upload {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.logo_upload span {
    padding: 5px 15px;
    color: white;
    width: 100%;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 3px;
}

.logo_upload input#logo_upload {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#preview_logo {
    margin: auto;
    display: block;
    border: 1px solid #DDDDDD;
    padding: 5px;
    max-width: 80%;
    max-height: 300px;
}

.logo_div {
    min-height: 130px;
    display: flex;
}

#uploadimage .submit {
    display: none;
}